*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}


.event{
    display: inline-block;
    margin: 20px;
    padding: 20px;
    background-color: salmon;
    color: white;
    text-decoration: none;
}

.event:active{
    padding: 30px;
}

#objetivo{
    background-color: blueviolet;
    width: 80px;
    height: 80px;
    transition: 3s;
}

#objetivo:target{ /*Indica que hay un elemento que está buscando ese bloque con id objetivo y si  le hace click inmediatamente se activa*/
    margin-left: 80px;
    
}

/*PARA EL FORMULARIO*/

.form{
    background-color: #f2f2f2;
    width: 80%;
    margin: 20px auto;
    padding: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5);

}
.form__title{
    text-align: center;
}
input{
    display: block;
    margin: 1em 0;
    padding: 12px 5px;
    outline: none;
    border:none;
    border-radius: 8px;
}
input[type='text'],
input[type='email']{
    width: 100%;
}

input[type='checkbox']{
    display: inline-block;
}
input[type='checkbox']:checked + label{
    background-color: crimson;
    color: white;
}

input:focus{
    background-color: rgba(220, 20, 60, 0.5);
}
.form:focus-within{
 background-color: darkcyan;
}
h3{
    color:blue;
    
}

 h3:not(.title):not(:hover){
    color:red;
    text-decoration: line-through;
}

